@font-face{
  font-family: "Aeonik";
  src: url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.eot");
  src: url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d95bf2f30035a050142565e03d44da71.svg#Aeonik")format("svg");
}

@font-face{
  font-family: "Aeonik Regular";
  src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot");
  src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.svg#Aeonik Regular")format("svg");
}

@font-face{
  font-family: "Aeonik Medium";
  src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot");
  src: url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.svg#Aeonik Medium")format("svg");
}