.services{
  border-top: 0.0625rem solid var(--bg-border);
}
.about{
  padding: 5rem 0;
  margin: 0 2rem;
 
  .box{
    display: flex;
    justify-content: center;
  }

  .pics{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    overflow: auto;
  }

  .pics::-webkit-scrollbar{
    display: none;
  }

  .pic{
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .pic > img{
    width: 20rem !important;
    height: 25rem !important;
    border-radius: 1rem;
  }

  .pic > p{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Aeonik medium";
    line-height: 1.2rem;
  }
}