.products-body {
  display: flex;
  .section {
    display: flex;
  }
}

.products-page {
  width: 100%;
  max-width: calc(100% - 22.75rem); // subtract page width from total width of sidebars(sidebar, mainSidebar and border)
  background: var(--bg);
  padding: 0 2rem 0 0;
}

@media (max-width: 1320px){
  .products-page {
    max-width: 100%;
    padding: 0 2rem 0;
  }
}