.product-footer{
  color: var(--desc);
  text-align: center;
  text-decoration: line-through;
  font-size: 1.1rem;
  border-top: 0.0625rem solid var(--bg-border);
  padding: 1rem 0;
  margin: 3rem 0 0;
}