.section-title1{
  margin-bottom: 2rem !important;
}
.accommodation{
  border-top: 0.0625rem solid var(--bg-border);
  padding-top: 5rem !important;
}

.trending-card{
  padding: 0 0 5rem;
  margin: 1rem 2rem 0;

  .page-heading{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .page-title{
    max-width: 400px;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: "Aeonik medium";
    line-height: 2.5rem;
  }

  .more{
    font-size: 1.2rem;
    font-family: "Aeonik medium";
    border-bottom: 0.2rem solid var(--button-border);
    cursor: pointer;
  }
  .more:hover{
    opacity: 0.8;
  }
}